---
export interface Props {
  src: string;
  title: string;
  label: string;
  link: string;
}

const { src, title, label, link } = Astro.props;
---

<div class="w-full card">
  <div class="relative aspect-square w-full overflow-hidden">
    <iframe 
      src={src}
      title={title}
      class="absolute inset-0 h-full w-full border-0"
      loading="lazy"
      allow="autoplay; encrypted-media"
      seamless
    ></iframe>
  </div>
</div>
